.choice {
    background-color: #f8f9fa; /* Light background */
    
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: bold;
}



@media (max-width: 767px) {
    .choice h1 {
        font-size: 1.75rem;
    }

    .choice .main-btn {
        width: 100%;
    }
    .custom-carousel img{
        margin-top: 12px;
    }
}
