.container {
    max-width: 1200px;
    margin: 0 auto;
    
   
  
  }
  
  .text-center {
    text-align: center;
  }
  
  .sub-heading {
    font-size: 1.1rem;
    color: #666;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .swiper-container {
    padding: 18px 0;
  }
  
  .testimonial {
    padding: 30px;
    margin-top: 1px;
    height: 250px;
  
    background-color: #439bc6;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .testimonial p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  
